body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}